Likelihood_space_mdp.jpg
Likelihood_space_om-0.1_nu-0.1.jpg
Likelihood_space_om-0.1_nu-0.5.jpg
Likelihood_space_om-0.1_nu-0.5_zoom.jpg
Likelihood_space_om-0.1_nu-0.9.jpg
Likelihood_space_om-0.5_nu-0.1.jpg
Likelihood_space_om-0.5_nu-0.5.jpg
Likelihood_space_om-0.5_nu-0.9.jpg
Likelihood_space_om-0.9_nu-0.1.jpg
Likelihood_space_om-0.9_nu-0.5.jpg
Likelihood_space_om-0.9_nu-0.9.jpg
Likelihood_space_rge.jpg
Parameter_space.jpg
Range_sampling.jpg
bifurcation.jpg
bifurcation.pdf
delta_effect.jpg
descendants.jpg
fix_estimate_ABM_nu-0_omega-1.pdf
fix_estimate_ABM_nu-0_omega-1_max.pdf
fix_estimate_ABM_nu-0_omega-1_switch.pdf
fix_estimate_BM_nu-0_omega-1.pdf
fix_estimate_BM_nu-0_omega-1_max.pdf
fix_estimate_BM_nu-0_omega-1_switch.pdf
fix_estimate_CBM_nu-0_omega-1.pdf
fix_estimate_CBM_nu-0_omega-1_max.pdf
fix_estimate_CBM_nu-0_omega-1_switch.pdf
init_pb_ABM.pdf
init_pb_BM.pdf
init_pb_CBM.pdf
lik_fix_ABM_nu-1_om-0.pdf
lik_fix_BM_nu-0_om-1.pdf
lik_fix_CBM_nu-0_om-0.pdf
midpoints_descendants.pdf
range_descendants.pdf
rho_effect.jpg
sim_lik_anc_mdp.jpg
sim_lik_anc_rge.jpg
sim_lik_loglik.jpg
sim_lik_node_mdp.jpg
sim_lik_node_rge.jpg
sim_lik_nu.jpg
sim_lik_omega.jpg
sim_lik_sig_mdp.jpg
sim_lik_sig_rge.jpg
sim_out_anc_st.jpg
sim_out_nu.jpg
sim_out_nu_mdp.jpg
sim_out_nu_rge.jpg
sim_out_omega.jpg
sim_out_omega_mdp.jpg
sim_out_omega_rge.jpg
sim_out_sig2.jpg
sim_sampling.jpg
tree_abm_sim-10.jpg
tree_abm_sim-200.jpg
tree_abm_sim-50.jpg
contour_lik_vs_anc_st.pdf
BF_I_nu.png
Figures
